$txtColor: dodgerblue * 0.5;
$bgColor: white * 0.8;

body {
  padding: 0;
  margin: 0;
  background-color: $txtColor;
  color: $bgColor;
  font-family: 'Raleway', sans-serif;
}
#composer {
  padding: 1em;
}
#editor-title {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}
p {
  margin-left: 1em;
}
#post-date, #tags {
  display: inline;
}
#tags {
  margin-top: 2em;
  display: inline-flex;
}
.tag {
  color: $txtColor;
  padding: 0.25em 0.5em;
  border: solid 1px $bgColor;
  margin: 0;
  background-color: $bgColor * 0.8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tag:hover {
  border-bottom: solid 1px $bgColor;
  background-color: $bgColor;
}
#post-date {
  margin-left: 0.5em;
  font-style: italic;
  font-weight: 400;
}
#post-well {
  padding-left: 1em;
}
h1 {
  border-bottom: 2px solid $txtColor;
  padding-left: 0.5em;
}
.post-container {
    background-color: $bgColor;
    color: $txtColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0em 0.3em 0em;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: dodgerblue * 1.5;
}
.footer {
  padding: 1em 5em;
}
.last-link, .next-link {
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.attribution {
  text-align: center;
}
.footer-flex {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
